@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var home = @CurrentPage.Site();
}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@CurrentPage.siteDescription">
    <title>@CurrentPage.Name | @CurrentPage._siteTitle</title>


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="~/Content/style.css" rel="stylesheet" />

    @RenderSection("Styles", false)


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container-fluid">
        <header class="row">
            <div class="col-sm-4 col-md-3 col-lg-2 col-xs-6">
                <img src="~/media/1051/resetlogo.png" class="img-responsive" />
            </div>
            <div class="col-sm-4 text-center col-xs-6 col-sm-offset-4 col-md-offset-5 col-lg-offset-6">
                <div class="row pull-down">
                    <div class="input-group col-xs-8 col-xs-offset-4">
                        <input type="text" class="form-control gradient-search" placeholder="wyszukaj.." aria-describedby="basic-addon1">
                        <span class="input-group-addon gradient-search" id="basic-addon1">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                    </div>
                </div>

            </div>
        </header>
    </div>
    <div class="horizontal-separate"></div>

    <nav class="navbar navbar-inverse" style="border-radius:0">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left" id="main-nav">
                    <li class="extra-li"><a href="/" class="glyphicon glyphicon-home pull-left"></a></li>
                    <li><a href="/News" class="nav-text">Aktualności</a></li>
                    <li><a href="/Articles" class="nav-text">Artykuły</a></li>
                    <li><a href="/Events" class="nav-text">Wydarzenia</a></li>
                    <li><a href="/Projects" class="nav-text">Projekty</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle nav-text" data-toggle="dropdown" role="button" aria-expanded="false">Kontakt <span class="caret"></span></a>
                        <ul class="dropdown-menu inverse-dropdown" role="menu" style="width:100%; text-align:center">
                            <li><a href="/Core">Zarząd</a></li>
                            <li><a href="/Members">Członkowie</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        @RenderBody()
    </div>
    <div class="horizontal-separate"></div>
    <footer class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-0">
                <img src="~/media/1051/resetlogo.png" class="img-responsive" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="row localize-box">
                    <div class="col-sm-1 localize-icon glyphicon glyphicon-map-marker">
                    </div>
                    <div class="col-sm-4 localize-text">
                        <p>
                            Akademia Techniczno-Humanstyczna <br />
                            w Bielsku-Białej<br />
                            ul. Willowa 2
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-sm-1 mail-icon glyphicon glyphicon-envelope">
                    </div>
                    <div class="col-sm-4 mail-text">
                        <p>
                            resetath@gmail.com
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 pull-right visible-sm visible-md visible-lg footer-menu-sm">
                <ul>
                    <li>
                        <a href="~/home">Strona główna</a>
                    </li>
                    <li>
                        <a href="~/home">Aktualności</a>
                    </li>
                    <li>
                        <a href="~/home">Projekty</a>
                    </li>
                    <li>
                        <a href="~/home">Wydarzenia</a>
                    </li>
                    <li>
                        <a href="~/home">Oferty pracy</a>
                    </li>
                    <li>
                        <a href="~/home">Zarząd</a>
                    </li>
                    <li>
                        <a href="~/home">Członkowie</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row visible-xs">
            <ul class="footer-menu">
                <li>
                    <a href="~/home">Strona główna</a>
                </li>
                <li>
                    <a href="~/home">Aktualności</a>
                </li>
                <li>
                    <a href="~/home">Projekty</a>
                </li>
                <li>
                    <a href="~/home">Wydarzenia</a>
                </li>
            </ul>
        </div>
        <div class="row visible-xs">
            <ul class="footer-menu">
                <li>
                    <a href="~/home">Oferty pracy</a>
                </li>
                <li>
                    <a href="~/home">Zarząd</a>
                </li>
                <li>
                    <a href="~/home">Członkowie</a>
                </li>
                <li>
                    &nbsp;
                </li>
            </ul>
        </div>



    </footer>

    <div class="footer-menu-down">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 copyright-text">
                    &copy; copyright by RESET ATH
                </div>
                <div class="col-xs-1 pull-right socialmedia">
                    <i class="fa fa-twitter-square"></i>
                </div>
                <div class="col-xs-1 pull-right socialmedia">
                    <a href="http://www.facebook.com/Resetath">
                        <i class=" fa fa-facebook-official">

                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- Javascripts -->

    <script src="~/scripts/jquery-2.1.4.min.js"></script>
    @*<script src="~/scripts/fanoe.js"></script>*@
    <script src="~/scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)
    <script>
        $('.pull-down').each(function () {
            $(this).css('margin-top', $(this).parent().height() - $(this).height())
        })
    </script>



</body>
</html>